[project]
	description = my first maven projecct
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/leehyosun
[access "refs/for/refs/*"]
	read = group user/leehyosun
	push = group user/leehyosun
	label-Code-Review = -2..+2 group user/leehyosun
	label-Verified = -1..+1 group user/leehyosun
	rebase = group user/leehyosun
	removeReviewer = group user/leehyosun
	submit = group user/leehyosun
[access "refs/heads/*"]
	read = group user/leehyosun
	create = group user/leehyosun
	push = +force group user/leehyosun
	pushMerge = group user/leehyosun
[access "refs/tags/*"]
	push = +force group user/leehyosun
	pushTag = group user/leehyosun
	pushSignedTag = group user/leehyosun
